.section {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 2rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    @media (min-width: 1280px) {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }

    max-width: 1380px;
}

.article {
    cursor: pointer;
    color: inherit;
}

.articleIntro {
    padding: 2rem 0;
}

.articleImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.articleName {
    font-size: 1.6rem;
    line-height: 1.2;
}

.articleCategory {
    font-size: 0.8rem;
    color: gray;
    margin: 0;
}

.articleMeta {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
