.header {
    background-color: rgba(#047970, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
    padding: 12.5rem 0;
    position: relative;
    overflow: hidden;
}

.heading {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1.75rem;

    @media (min-width: 640px) {
        font-size: 2.625rem;
    }
}

.meta {
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 2px;
    font-size: 0.75rem;

    @media (min-width: 640px) {
        font-size: 1rem;
    }

    .author {
        font-weight: bold;
        padding-right: 0.625rem;
        border-right: 1px solid;
        display: inline;
        vertical-align: middle;
    }

    .date {
        font-size: 80%;
        padding-left: 0.625rem;

    }
}

.article {
    margin: 2.25rem 0;
}