@import '~@decibel/components/lib/scss/globals/scss/helper-mixins';

.header {
  background: #047970;
  position:sticky;
  top: 0;
  z-index: 1000;
}

.logoWrapper {
  display: flex;
  padding: 1rem 1rem 1rem 0;
  width: fit-content;
}

.productName {
  color: $ui-02;
  padding-left: 1.5rem;
  @include type-style('productive-heading-01');
}

a {
  text-decoration: none;
}
