@import '~@decibel/components/lib/scss/globals/scss/helper-mixins';
@import '~@decibel/components/lib/scss/acoustic-theme/_acoustic-theme';

.header {
  background: #047970;
}

.logoWrapper {
  display: flex;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
}

.productName {
  display: flex;
  color: $ui-02;
  padding-left: 2rem;
  @include type-style('productive-heading-01');
}
